@import 'pra';
@import 'down';

.card-no2{
    background-color:aqua;
    width: 800px;
    height:300px;
    margin-top:10px;
    
    .bg{
                background-image:url(../img/OIP\ \(1\).jpg);
                width:auto;
                height: 120px;
                background-repeat:no-repeat;
                background-size:cover;
                span{
                    width: 600px;
                    font-size:29px;
                    color:white;
                    display:flex;
                    text-align:center;
                    align-items:center;

                    
                }
                }
            
            
                
                    
                    
}
                
            

// .\{
//     background-color:aqua;
//     width: 600px;
//     height: 300px;
//     border:2px solid black;
//     
    
    
//     span{
//         display:flex;
//         text-align:center;
//         justify-content:center;
//     }
//     .svg{
//         width:$widht-svg;
//         display:inline-block;
//     }
//     .foot{
//         height:75px;
//         background-color:white;
//         padding-top:$padding-sm;
        
//         .top{
//             display:flex;
//             list-style:none;
//             justify-content:space-around;
//         }
//         .down{
//             display:flex;
//             list-style:none;
//             justify-content:space-around;
//         }
    
//     }
    
// }