@import 'pra';
@import 'color';
*{
    
    color:black;
    font-size:$base-font-size;
}
.login{
    width: $base-width;
    height:$base-height;
    background-color:white;
    color:$text-color;
    border:$base-border;
    border-radius:20px;
    text-align:center;
    padding-top:$base-padding;
    
    h1{
        background-color:$main-color;
        width:$base-width;
        border:$base-border;  
        background-color:$main-color;
    }
    input{
        margin-top:20px;
        
        
    }
    footer{
        padding-top:50px;
    }
}

body{
    display:flex;
    justify-content:center;
    align-content:end;
}
