
$border:1px solid black;
$color:blue;
$secondary:red;
$gap:10px;
$basic-padding:10px;
$basic-margin:10px;
// *{
//     padding: 0;
//     margin: 0;

// .container {
//     max-width:1000px;
//     margin:0 auto;
//     display: grid;   
//     grid-template-columns:1fr;
//     padding:0px 10px;
// }
// .col{  
//     display:grid;
//     grid-template-rows:1fr ;  
//     gap:10px;
// }
// .row1{
//     background-color:$color;
//     gap:$gap;
//     padding:$basic-padding;
//     border:$border;
// }
// .row2{
//     background-color:$color;
//     gap:$gap;
//     padding:$basic-padding;
//     border:$border;
// } 
// .row3{
//     background-color:$color;
//     gap:$gap;
//     padding:$basic-padding;
//     border:$border;
// } 
// }
*{
    padding:0;
    margin:0;
}
.container{
    // column-gap:10px; makes gap between column
    // row-gap:10px; makes gap between row
    
    @for $i from 1 through 12 {
        .row-#{$i} {
          grid-template-rows:100px;
          border:$border;
        }
      }
    max-width: 1440px;
    display:grid; 
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    padding: 0 10px; 
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));

    // grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    // grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
      /*if we add item more then we set then it automatically set a row but doesn't have the value that we have include and sets its own value.
    Thats why we use "grid-auto-rows" which allows us to add the value of the row if we add extra items. We can even send the extra item to the 
    column by using "grid-auto-flow:column"*/
}
.col{
    gap: 10px;
    padding: 20px;
    margin: -10px;
    grid-template-rows: repeat(3,1fr) ;

}

.row {
    background-color:$color;
    border:$border;
    padding:$basic-padding;
    margin:$basic-margin;
    text-align:center;
}
.col:nth-child(1).row-1{
    grid-column: span 2;
}
 
//  .container{
//     display:grid;
//     max-width: 1280px;
//     margin: 0 auto;
//     grid-template-rows:repeat(4, 100px);
//     grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
/*minmax allous u to set the minimum value of the cell and the maximum value 
    of the cell which will help to change the size of the cell automatically according to the width of the device."autofit" it allowa the 
    cells to go to the next row when it reach the minimum size*/
 //}



// .row{
//     border:3px solid black;
//     background-color: pink;
// }