@import 'pra';
@import 'down';
@import '2nd';
*{
    padding:0px;
}
// .card{
//     background-color:aqua;
//     width: 300px;
//     height: 400px;
//     border:2px solid black;
//     .bg{
//         background-image:url(../img/OIP\ \(2\).jpg);
//         width:auto;
//         height: 120px;
//         background-repeat:no-repeat;
        
//     }
//     .img{
       
//         display:flex;
//         text-align:center;
//         justify-content:center;
//     }
//     img{
//         width:$width-img;
//         border-radius:100px;
        
//     }
//     span{
//         display:flex;
//         text-align:center;
//         justify-content:center;
//     }
//     .svg{
//         width:$widht-svg;
//         display:inline-block;
//     }
//     .foot{
//         height:75px;
//         background-color:white;
//         padding-top:$padding-sm;
        
//         .top{
//             display:flex;
//             list-style:none;
//             justify-content:space-around;
//         }
//         .down{
//             display:flex;
//             list-style:none;
//             justify-content:space-around;
//         }
    
//     }
    
// }

