/* .div1{

    background-image:url(../assets/images/R.jpg);
    height: 100px;
    width: 100px;
    color:gainsboro;
    box-shadow:5px 5px 5px yellowgreen;
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}
.div2{
    padding:10px;
    bjbjbjjaasdfsdfsdf
} */
div{
    background-color:green;
    width: 300px;
    height: 100px;
    
}
.div3{
    transform: rotate(45deg);
} 
